*{
  box-sizing: border-box;
}

body{
  margin: 0;
  background-image: url(./assets/background.png);
  background-repeat: no-repeat;
  background-size:cover;
  height:100vh;
  font-family: "Karla", serif;
  color: #293264;
}

.introPage{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  margin-top: 50%;
}
.introPage > h1{
  margin-bottom: 0;
}

button{
  border: none;
  color: #F5F7FB;
  background-color: #4D5B9E;
}

.introBtn{
  width: 10rem;
  height: 3.25rem;
  font-size: 1.1rem;
  border-radius: 10px;
}