
* {
  box-sizing: border-box;
}

.App {
  background: #F5F7FB;
  background-image: url('./images/backgroundpic.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 70vw;
  margin: 2rem auto;
  color: #293264;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 1px grey;
}

/* All about the intro div */
.intro-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  width:70vw;
  height: 34rem;
}

.h1-intro{
  font-weight: 700;
  font-size: 1.96rem;
  margin: 0;
  margin-top: 20vh;
}

.p-intro{
  font-weight: 400;
  font-size: 1rem;
  text-align: center;
}

.button-intro{
  width: 12rem;
  height: 3.25rem;
  border: none;
  background: #4D5B9E;
  border-radius: 15px;
  color: #F5F7FB;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 1.3rem;
  cursor: pointer;
}

/* Each Trivia question */

.trivia-div{
  padding: 2rem;
  
}

.h3-question{
  margin: 0;
  font-weight: 700;
  font-size: 1rem;
}

hr{
  border: 0.794239px solid #DBDEF0;
  margin-bottom: -1.5rem;
}

.button-check{
  width: 7.5rem;
  height: 2.1875rem;
  background: #4D5B9E;
  border-radius: 0.625rem;
  border: none;
  font-size: 0.8rem;
  padding: 0.5rem;
  font-weight: 600;
  text-align: center;
  line-height: 1;
  color: #F5F7FB;
  margin: 0 auto 2rem;
  cursor: pointer;
}

.p-answers{
  display: inline-block;
  margin-right: 1rem;
  font-weight: 500;
  font-size: 1rem;
  line-height: 12px;
  /* identical to box height */
  text-align: center;
  border: 0.794239px solid #4D5B9E;
  border-radius: 7.94239px;
  padding: 0.3em 0.5em;
  cursor: pointer;
}

.selected-answer{
  background: #D6DBF5;
  border: none;
}

.p-result{
  display: inline-block;
  margin-right: 1rem;
  font-weight: 500;
  text-align: center;
  color: #293264;
  padding: 0.3em 0.5em;
  opacity: 0.5;
  border: 0.794239px solid #4D5B9E;
  border-radius: 7.94239px;
}

.score-display{
  display: flex;
  align-items: baseline;
  justify-content: center;
  padding: 0 3rem;
}

.h3-userscore{
  text-align: center;
  margin-right: 0.5rem;
}